<!-- <h1>Hi {{vm.user.name}}!</h1>
Email <input type="text" value="{{ vm.user.email }}">
<p>You're logged in!!</p>

<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p> -->
<style>
    .drop-box {
        background: #F8F8F8;
        border: 2px dashed #DDD;
        height:300px;
        text-align: center;
        padding-top: 25px;
        margin: auto;
    }
    .dragover {
        border: 1px dashed #5e5e5e;
    }
</style>
<div class="container">
    <div class="row">
        <div ng-file-drop ng-model="files" ng-file-accept=".jpg" class="col-lg-12 drop-box"
             drag-over-class="dragover" ng-multiple="true" allow-dir="true"
             accept="*">Drop files here
        </div>

        <table class="table">
            <tr ng-repeat="name in uploaded">
                    <td><a href="/view/{{name}}"><img width="40" ng-src="/view/{{name}}" alt=""></a></td>
                <td><button class="btn btn-default" ng-click="delete(name)"><span class="glyphicon glyphicon-trash"></span> Del</button></td></tr>
        </table>
    </div>
</div>